[submodule "hardware/sao/TouchwheelSAO"]
	path = hardware/sao/TouchwheelSAO
	url = https://github.com/todbot/TouchwheelSAO.git
[submodule "documentation/ch32v003/ch32v003fun"]
	path = documentation/ch32v003/ch32v003fun
	url = https://github.com/cnlohr/ch32fun.git
[submodule "resources/ch32v003/ch32v003fun"]
	path = resources/ch32v003fun
	url = https://github.com/cnlohr/ch32fun.git
[submodule "software/libraries/MicroPython-SSD1306"]
	path = software/libraries/MicroPython-SSD1306
	url = https://github.com/TimHanewich/MicroPython-SSD1306
[submodule "software/libraries/micropython-aw210xx"]
	path = software/libraries/micropython-aw210xx
	url = https://github.com/eosti/micropython-aw210xx
[submodule "i2c_proto_petal_tutorial/pico_ch32v003_prog"]
	path = i2c_proto_petal_tutorial/pico_ch32v003_prog
	url = https://github.com/hexagon5un/pico_ch32v003_prog.git
[submodule "software/libraries/MicroPython-IR-Transceiver-SAO"]
	path = software/libraries/MicroPython-IR-Transceiver-SAO
	url = https://github.com/DmitryPustovit/MicroPython-IR-Transceiver-SAO

